
#signature-section {
  background-color: rgb(29, 117, 222);
  height: 368px;
}

#signature-content {
  margin: 0 104px;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 40px;
}

#signature-content-title {
  font-family: circularblack;
  color: #fff;
  font-size: 40px;
}

#signature-content-subtitle {
  color: #fff;
  font-family: circularlight;
  font-weight: bold;
  margin-top: 30px;
}

.signature-btn-area {
  margin-top: 35px;
  display: flex;
  gap: 8px
}

.btn-start, .btn-plans {
  background-color: #000;
  border: 2px solid #000;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: circularblack;
  font-size: 14px;
  padding: 16px 32px;
  text-transform: uppercase;
}

.btn-plans {
  background-color: transparent;
  border-color: #fff;
}

.btn-start:hover, .btn-plans:hover {
  transform: scale(1.05);
  transition: .2s all;
}

.terms {
  margin-top: 40px;
  color: #fff;
  font-size: 12px;
}

.terms-link {
  text-decoration: underline;
}